body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.location {
    display: flex;
    height: 100px
}

.timezone {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    align-self: center;
}

.icon {
    height: auto;
    width: 100px;
    margin: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.weather {
    display: grid;
    grid-template-areas: "a b"
        "c c";
}

.main-weather {
    grid-area: a;
    margin: 1rem;
    font-size: 1.4rem;
}

.temperature {
    grid-area: b;
    margin: 1rem;
    font-size: 1.4rem;
}

.description {
    grid-area: c;
    margin: 1rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    text-align: center;
}